
body.old {
    font-family:'Helvetica Neue', Arial, sans-serif;
    font-size:80%;
    font-family: 'Lucida Grande', 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, Arial, sans-serif;
}

#dsq-content .dsq-sharing-options button.dsq-button-small {
    height: 30px !important;
    width: 140px !important;
}

body {
    color: #666;
    font: normal normal normal 15px Verdana, Geneva, Arial, sans-serif;
}


#title {
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-280px;
    margin-left:-250px;
    width:500px;
    text-align:center;
}

#smalltitle {
    font-size:2em;
    color:#999;
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

#smalltitle h2 {
    font-size:inherit;
    font-weight:inherit;
    margin:0;
    padding:0;
}

body.post_archive_day #smalltitle {
    font-size:1.8em;
}

#main {
    position:absolute;
    width:500px;
    min-height:400px;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-200px;
}

#content {
    padding:15px;
    border:1px solid #999;
    margin-bottom:50px;
}

a {
    color: #F68B1F;
    text-decoration:none;
}

a:visited {
    color:#FDB813;
}

/** home page **/

body.home .home-project-image {
    float:left;
    width:125px;
    height:125px;
    border:1px solid #ccc;
    margin:0 5px 5px 0;
}

body.home #content {
    height:400px;
    padding:0px;
    border:none;
}

body.home #main {

}

.small {
    color: #aaa;
}

.subtext {
    color: #777;
}

.projects .subtext {
    float:right;
}

pre {
    overflow:auto;
}

p, #content {
    line-height: 1.5;
    font-family: Georgia;
}

#rss {
    position:fixed;
    top:5px;
    right:5px;
}

.note {
    border: 1px solid #666;
    font-size: 80%;
    margin: 0 10px;
}

.note .first.admonition-title {
    background-color: #999;
    color: white;
    margin: 0px;
    padding: 0px 9px;
}

.note .last {
    margin: 10px;
}
