#menu {
    position:fixed;
    right:20px;
    top:20px;
}

#menu ul.menu-top {
    list-style:none;
    margin:0;
    padding:0px;
    background-color:white;
    border:1px solid #FDB813;
    text-align:center;
}

#menu li.menu-item {
    padding:4px 10px;
}

#menu li.menu-item.selected {
    background-color:#bbb;
}

#menu li.menu-item:hover {
    background-color:#bbb;
}

#menu a li {
    color:#999;
    text-transform:lowercase;
}

#menu a li.menu-item.selected {
    color:white;
}

#menu a li.menu-item:hover {
    color:white;
}
