
{% extends "index.html" %}
{% load markup %}

{% block title %}{{project.title}}{% endblock %}

{% block smalltitle %}{{ project.title }}{% endblock %}

{% block bodyclasses %}projects{% endblock %}

{% block content %}
<div class="meta">
    <div class="subtext">
        <span class="small">{{ project.created|date:"M d, Y" }}</span>
        <div class="subtext">
            by <a href="/about/{{ project.author }}">{{ project.author|title }}</a>
        </div>
    </div>
    <div class="post-body">
        <div class="meta">
        <div class="project-image">
            <a href="{{ project.url }}">
                <img src="{{ project.image.url }}" title="{{project.title}}"/>
            </a>
        </div>
        {% if project.url %}
        <br/><a href="{{ project.url }}">{{project.url}}</a>
        {% endif %}
    </div>
        {{project.description|restructuredtext}}
        {% if project.source %}
            <br/><a href="{{ project.source.url }}">View source</a>
        {% endif %}
    </div>
    {% if user.is_staff %}
        <a href="/admin/myprojects/project/{{ project.id }}/">[edit]</a>
    {% endif %}
</div>
{% endblock %}
