{% extends "blog/base.html" %}

{% load markup %}
{% load blog %}

{% block title %}{{ object.title }}{% endblock %}

{% block content_title %}{{ object.title }}{% endblock %}

{% block content %}

<div class="meta">
    <div class="subtext">
        <span class="small">{{ object.publish|date:"M d, Y" }}</span>
        <div class="subtext">
            by <a href="/about/{{ object.author }}">{{ object.author|title }}</a>
        </div>
    </div>
</div>

<div class="post-body">
    {{ object.body|markup:object.format }}
</div>

<div class="post-meta">
    <script>var addthis_config = { services_compact:'email,reddit,digg,twitter,google' }</script>
    <!-- AddThis Button BEGIN -->
    <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4c42455027bd700f"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c42455027bd700f"></script>
    <!-- AddThis Button END -->
    [ <a href="{{ object.get_absolute_url }}">permalink</a> ] <a href="{{ object.get_absolute_url }}#disqus_thread">comments</a>
</div>

<div class="post-comments">
    <a name="comments"></a>
    <script>
        var disqus_identifier = "blog-{{ object.slug }}";
    </script>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    /**
    * var disqus_identifier; [Optional but recommended: Define a unique
    * identifier (e.g. post id or slug) for this thread] 
    */
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://jaredforsyth.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=jaredforsyth">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>

{% if user.is_staff %}
    <a href="/admin/blog/post/{{ object.id }}/">[edit]</a>
{% endif %}

<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/jaredforsyth/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>

{% endblock %}
