{% extends "base.html" %}

{% load markup %}
{% load blog %}

{% block title %}{{ block.super }} - Blog{% endblock %}
{% block content_title %}blog{% endblock %}

{% block content %} 
    {% for object in object_list %} 
        <div class="post">
            <div class="post-title">
                <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                <span class="small">{{ object.created|date:"M d, Y" }}</span>
            </div>
            <div class="post-body">
                {{ object.tease|markup:object.format }}
            </div>
            <div class="subtext">
                by <a href="/about/{{ object.author }}">{{ object.author|title }}</a>
            </div>
        </div>
    {% empty %} 
        <div class="noposts">No Blog Posts Found</div>
    {% endfor %} 
    {% if has_previous %}
        <a href="/blog/page/{{ previous }}/">&lt; previous</a>
    {% endif %}
    {% if has_next %}
        <a href="/blog/page/{{ next }}/">next &gt;</a>
    {% endif %}
{% endblock %}
