<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{% block title %}Jared|Forsyth{% endblock %}</title>
        <link rel="openid.server" href="http://www.myopenid.com/server" />
        <link rel="openid.delegate" href="http://jabapyth.myopenid.com/" />
        <link rel="alternate" type="application/rss+xml" title="Jared|Forsyth" href="http://feeds.feedburner.com/JaredforsythFeed" />
        {% block css %}
        <link href="/media/css/index.css" rel="stylesheet"/>
        <link href="/media/css/menu.css" rel="stylesheet"/>
        <link href="/media/css/pygments.css" rel="stylesheet"/>
        <link rel="icon" type="image/png" href="/media/favicon.png">
        {% endblock %}

        {% block js %}
        <script src="/media/index.js"></script>
        {% endblock %}
        {% block extra_head %}{% endblock %}
        {% include "feedback/header.html" %}
    </head>
    <body  id="{% block body_id %}{% endblock %}" class="{% block body_class %}{{request.META.REQUEST_URI|slugify}}{% endblock %}">
        <div id="im-gone">
            If things look a little dusty around here, it's because I'm <a href="http://jaredforsyth.com/mission/">away on a mission</a> for two years. I'll be back in August 2012, but in the mean time feel free to <a href="http://github.com/jabapyth/">fork my projects</a> on github.
        </div>
{% block body %}

        <div id="left_of_content">
            {% block left_of_content %}
            {% endblock %}
        </div>
        <div id="main">
            {% block notitle %}
                <div id="smalltitle">
                    {% block content_title %}{% endblock %}
                </div>
            {% endblock %}
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% include "menu.html" %}

        <div id="footer">
            {% block footer %}
                This site is open source. really? <a href="http://github.com/jabapyth/jfcom">really.</a>
            {% endblock %}
        </div>
        <div id="rss">
            <a href="http://feeds.feedburner.com/JaredforsythFeed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>
        </div>

    {% block analytics %}
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-7002862-1");
                pageTracker._trackPageview();
                } catch(err) {}
        </script>
    {% endblock %}

{% endblock body %}
    </body>
</html>

