{% extends "base.html" %}

{% block title %}Jared|Forsyth{% endblock %}
{% block content_title %}Jared|Forsyth{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
<!--
{% for post in posts %}
    <div class="post">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </div>
{% endfor %}
-->

{% for item in projects %}
    <div class="home-project-image">
        <a href="{{ item.get_absolute_url }}">
            <img src="{{ item.image.url }}" title="{{ image.title }}"/>
        </a>
    </div>
{% empty %}
    Sorry, no projects up yet.
{% endfor %}

{% endblock %}
