<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{% block title %}Jared|Forsyth{% endblock %}</title>
        {% block css %}
        <link href="/media/index.css" rel="stylesheet"/>
        <link href="/media/menu.css" rel="stylesheet"/>
        <link href="/media/pygments.css" rel="stylesheet"/>
        {% endblock %}

        {% load markup %}

        {% block js %}
        <script src="/media/index.js"></script>
        {% endblock %}
        {% block extrahead %}{% endblock %}
        {% include "feedback/header.html" %}
    </head>
    <body class="{% block bodyclasses %}{% endblock %}">
        <div id="main">
            {% block notitle %}
                <div id="smalltitle">
                    {% block smalltitle %}{% endblock %}
                </div>
            {% endblock %}
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% include "menu.html" %}
        {% include "feedback/button.html" %}
    </body>
</html>

